{% extends 'SystemController.splash.html.twig' %}

{% block moduleCSS %}
    <link rel="Stylesheet" type="text/css" href="{{ Response.meta.EULA.static }}/css/eula.css"/>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="panel panel-default" id="eula-panel">
                <div class="panel-heading">
                    <h3 id="eula-title">End User License Agreement and Terms of Service</h3>
                </div>
                <div class="eula panel-body">
                <div class="container-fluid">
                        <h4 class="text-center" style="margin-top: 0; margin-bottom: 15px">WC3 DOCUMENT PORTAL</h4>

                        <h4 class="text-center" style="margin-top: 0; margin-bottom: 20px">SOFTWARE CLICK-WRAP LICENSE AGREEMENT</h4>

                        <p>IMPORTANT-READ CAREFULLY: This License Agreement (hereinafter “Agreement”) is a legal
                            contract between you (either an individual or a single business entity, hereinafter referred
                            to as “Licensee”) and West Coast Code Consultants, a California corporation (hereinafter
                            “WC3”), for the use of WC3’s Document Portal Software (the “Software”) only. The term
                            “Software” also includes any supplied corrections, bug fixes, enhancements, updates or other
                            modifications created and supplied by WC3 and any user manuals or other documentation
                            supplied by WC3 in conjunction with the Software.</p>

                        <p>BY CLICKING THE “ACCEPT” BUTTON BELOW, OR BY DOWNLOADING, INSTALLING OR OTHERWISE USING THE
                            SOFTWARE, YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT. IF YOU DO NOT AGREE TO THE
                            TERMS OF THIS AGREEMENT, DO NOT DOWNLOAD, INSTALL, OR USE THE SOFTWARE.</p>
                        <ol>
                            <li>LICENSE TERMS
                                <ol type='a'>
                                    <li>Grant of License. Provided that Licensee is in material compliance with the
                                        terms and conditions of this Agreement, Licensor hereby grants to Licensee,
                                        pursuant to the terms and conditions of this Agreement, a nonexclusive,
                                        nontransferable, revocable license (hereinafter “License”) to use the Software.
                                    </li>
                                    <li>Authorized Use. Licensee shall use the Software only to be provided access to
                                        WC3’s Document Portal Software information uploaded, updated and/or retrieved by
                                        Licensee, as well as other various users and clients of WC3 onto an information
                                        docking portal which is managed and maintained by Licensor for and on behalf of
                                        Licensee.
                                    </li>
                                    <li>Restrictions on Use. Licensee may not (i) reverse engineer, disassemble,
                                        decompile, or otherwise attempt to derive the source code of the Software, (ii)
                                        use the software or documentation to provide services to others, (iii)
                                        distribute, sublicense, transfer or lease the Software to any third party; (iv)
                                        create any derivative works based upon the Software, or (v) use or copy the
                                        software or documentation in any manner that is inconsistent with the terms of
                                        this Agreement.
                                    </li>
                                    <li>Material Terms and Conditions. Licensee specifically agrees that each of the
                                        terms and conditions of this Section 1 are material and that failure of Licensee
                                        to comply with these terms and conditions shall constitute sufficient cause for
                                        Licensor to terminate this Agreement. The presence of this Subsection 1d shall
                                        not be relevant in determining the materiality of any other provisions or breach
                                        of this Agreement by either Party.
                                    </li>
                                    <li>Reservation of Rights. Licensor hereby reserves any and all rights not expressly
                                        and explicitly granted in this Agreement, including, but not limited to,
                                        Licensor’s rights to license the Software to any third party.
                                    </li>
                                    <li>Term of License. Unless otherwise terminated as set forth herein, the term of
                                        the License granted hereunder shall extend until the completion or termination
                                        of Licensee’s project with Licensor. Licensor has the right to terminate this
                                        Agreement immediately if Licensee fails to comply with any term of this
                                        Agreement. Upon termination of this Agreement for any reason, Licensee shall
                                        immediately cease using the Software and shall (i) return all devices containing
                                        the Software and any documentation to Licensor, or at Licensor’s sole discretion
                                        and direction, destroy all copies, and (iii) at Licensee’s request, provide
                                        Licensor with certification that Licensee has complied in full with this
                                        Section.
                                </ol>
                            <li>INTELLECTUAL PROPERTY RIGHTS
                                <ol type='a'>
                                    <li>Title. Licensee and Licensor agree that Licensor owns all property rights,
                                        including patent, copyright, trade secret, trademark and other proprietary
                                        rights, in and to the Software and any corrections, bug fixes, enhancements,
                                        updates or other modifications, including custom modifications, to the Software,
                                        whether made by Licensor or any third party. No title to the Software is
                                        transferred hereby and Licensee’s rights hereunder are strictly limited as set
                                        forth herein.
                                    </li>
                                    <li>Transfers. Under no circumstances shall Licensee sell, license, publish,
                                        display, distribute, or otherwise transfer to a third party the Software or any
                                        copy thereof, in whole or in part, without Licensor’s prior written consent.
                                    </li>
                                </ol>
                            </li>
                            <li>CONFIDENTIALITY
                                <ul>
                                    <li>The Software constitutes confidential information and valuable trade secrets of
                                        Licensor and its various users and clients which require protection against
                                        unauthorized use, reproduction, distribution, and disclosure. Licensee agrees to
                                        strictly maintain and protect the Software’s confidentiality. License will not
                                        reproduce, distribute or disclose the Software or its contents to any third
                                        parties. Licensee agrees to protect all confidential information on the
                                        Software, in any form and on any medium, at all times and in the same manner as
                                        Licensee protects the confidentiality of its own proprietary and confidential
                                        materials of like kind. Licensee agrees that breach of this provision may result
                                        in irreparable harm to Licensor and its clients and that money damages may be an
                                        inadequate remedy for such breach. Accordingly, Licensor will be entitled to
                                        seek immediate equitable and other provisional relief, without posting a bond.
                                    </li>
                                </ul>
                            </li>
                            <li>DISCLAIMER OF WARRANTIES
                                <ul>
                                    <li>The Software is provided by Licensor “AS IS” without any warranties whatsoever
                                        and Licensor hereby disclaims all warranties, whether express, implied, or
                                        statutory, including, but not limited to, the IMPLIED WARRANTIES OF
                                        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, INTEROPERABILITY, TITLE,
                                        QUALITY, AND NONINFRINGEMENT. LICENSOR DOES NOT WARRANT THAT THE SOFTWARE IS
                                        ERROR FREE, OR IS COMPATIBLE WITH LICENSEE’S PRODUCTS.
                                    </li>
                                </ul>
                            </li>
                            <li>LIMITATION OF LIABILITY
                                <ul>
                                    <li>IN NO EVENT SHALL LICENSOR BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR
                                        CONSEQUENTIAL DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF DATA OR
                                        USE, INCURRED BY YOU OR ANY THIRD PARTY, WHETHER IN AN ACTION IN CONTRACT OR
                                        TORT, EVEN IF LICENSOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                                        LICENSOR SHALL NOT BE RESPONSIBLE FOR THE INTEROPERABILITY OF SOFTWARE OR
                                        HARDWARE AND LICENSEE ACKNOWLEDGES THAT ACCESS TO THE INFORMATION ON THE DEVICE
                                        MAY BE ACROSS PUBLIC AND PRIVATE LINES AND THAT LICENSOR HAS NO CONTROL OVER
                                        SUCH LINES OR THE INFORMATION AVAILABLE FROM NON-LICENSOR SOURCES. THE PARTIES
                                        HAVE AGREED THAT THE LIMITATIONS SPECIFIED IN THIS SECTION WILL SURVIVE AND
                                        APPLY EVEN IF ANY LIMITED REMEDY SPECIFIED IN THIS AGREEMENT IS FOUND TO HAVE
                                        FAILED OF ITS ESSENTIAL PURPOSE.
                                    </li>
                                </ul>
                            </li>
                            <li>GENERAL PROVISIONS
                                <ol type='a'>
                                    <li>Complete Agreement. Licensee acknowledges that it has read this License
                                        Agreement, understands it, and that it is the complete and exclusive agreement
                                        between Licensee and Licensor, which supersedes any prior agreement,
                                        representation, understanding or proposal, whether oral or written.
                                    </li>
                                    <li>Governing Law/Venue/Jurisdiction. This Agreement shall be governed by and
                                        construed under the laws of the State of California, without regard to choice of
                                        law provisions. The application of the United Nations Convention on Contracts
                                        for the International Sale of Goods is expressly excluded. Venue and
                                        jurisdiction shall be proper only in the state of California and each party
                                        hereby consents to such exclusive and personal jurisdiction and venue.
                                    </li>
                                    <li>Termination. Without prejudice to any other rights, Licensor may terminate this
                                        Agreement if Licensee fails to comply with the terms and conditions of this
                                        Agreement. In such event, Licensor may deny access to the Software and Licensee
                                        must discontinue use of the Software.
                                    </li>
                                    <li>Severability. Except as otherwise set forth in this Agreement, the provisions of
                                        this Agreement are severable and if any one or more such provisions shall be
                                        determined to be invalid, illegal or unenforceable, in whole or in part, the
                                        validity, legality and enforceability of any of the remaining provisions or
                                        portions thereof shall not in any way be affected thereby and shall nevertheless
                                        be binding between the parties hereto. Any such invalid, illegal or
                                        unenforceable provision or portion thereof shall be changed and interpreted so
                                        as to best accomplish the objectives of such provision or portion thereof within
                                        the limits of applicable law.
                                    </li>
                                    <li>Waiver. The determination of the terms of, and the drafting of this Agreement
                                        have been by mutual agreement after negotiation with consideration by and
                                        participation of all parties. The presumption found in Civil Code Section 1654,
                                        that uncertainties in a contract are interpreted against the party causing an
                                        uncertainty to exist, is hereby waived by all parties.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>

                </div>

                <div class="panel-footer clearfix">
                    <form action="{{ SysVar.get('siteUrl') }}/eula/accept" method="POST" id="eulaform" name="eulaform">
                        <input type="hidden" name="submitform" value="true">
                        <input type="hidden" name="iseula" id="iseula" value="true">

                        <div class="btn-group pull-right">
                            <a href="{{ SysVar.get('siteUrl') }}/logout" class="btn btn-default" title="I Disagree">I
                                Disagree</a>
                            <button type="submit" class="btn btn-primary" title="I Agree">I Agree</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
