{% extends 'SystemController.base.html.twig' %}
{% block body %}
    <h2>Error</h2>
    {% for error in Response.errors %}
    <p class="lead">{{ error.message }}</p>
    <pre>{{ error.traceAsString }}</pre>
    {% endfor %}
{% endblock %}