{% extends 'SystemController.backbone.base.html.twig' %}

{% block moduleCSS %}
    <link rel="Stylesheet" type="text/css" href="{{ Response.meta.SystemController.static }}/css/typeahead.css"/>
{% endblock %}
{% block body %}
    <div id="modal-node"></div>
    <div id="content-container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Inspections</h3>
            </div>
            <div class="col-sm-12">
                <ol class="breadcrumb"><li class="active">Inspections</li></ol>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Project title</th>
                            <th>Permit number</th>
                            <th>Project type</th>
                            <th>Inspection due date</th>
                            <th>Inspection progress</th>
                            <th>current status</th>
                        </tr>
                    </thead>
                    <tbody id="category-list"></tbody>
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}

